@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');


:root {
    --pause-color: #5bdf1e42;
    --tomato-color: #99000066;
    --glass-color: #10101031;
    --light-color: #ffe;
    --dark-color: #222;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: beige;
}

header{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

#main
{
    background-color: var(--glass-color);
    padding-top: 50px;
    padding-bottom: 50px;
}


#bottleContainer {
    width: 300px;
    height: 300px;
    margin: auto;
}


#bottle {
    border-radius: 75px;
    border: solid var(--light-color) 10px;
    background-color: var(--glass-color);

}

.sauce {
    position: absolute;
    width: 94%;
    height:94%;
    bottom: 0px;
    margin: 3%;
    border-radius: 60px;
    background-color: var(--tomato-color);
    z-index: -100;;
}


#bottle {
    transition: all 0.11s ease-in-out;
    width: 300px;
    height: 300px;
    position: absolute;
}

#bottle:hover {
    transition: all 0.15s ease-in-out;
    width: 280px;
    height: 280px;
    margin: 10px;
}


#timer {
    height: 25%;
    padding-top: 10px;
    font-size: 50px;
    text-align: center;
}

#play {
    height: 40%;
    width: 100%;
    text-align: center;
    font-size: 110px;
}

#message {
    height: 30%;
    padding-top: 15px;
    text-align: center;
    font-size: 25px;
}


.text {
    color: var(--light-color);
}

.shadow {
    text-shadow: 2px 2px var(--dark-color);
}