@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');

svg {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
  }
  .container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    vertical-align: middle;
    overflow: hidden;
  }

:root {
    --primary-color: #99000099;
    --glass-color: #10101031;
    --light-color: #ffe;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: beige;
}

header{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

#main
{
    background-color: var(--glass-color);
    padding-top: 50px;
    padding-bottom: 50px;
}


#bottleContainer {
    width: 300px;
    height: 300px;
    margin: auto;
}


#bottle {
    border-radius: 75px;
    border: solid var(--light-color) 10px;
    background-color: var(--glass-color);

}

.sauce {
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0px;
    margin: 0px;
    border-radius: 50px;
    background-color: var(--primary-color);
    z-index: -100;;
}


#bottle {
    transition: all 0.11s ease-in-out;
    width: 300px;
    height: 300px;
    position: absolute;
}

#bottle:hover {
    transition: all 0.15s ease-in-out;
    width: 280px;
    height: 280px;
    margin: 10px;
}


#timer {
    font-size: 50px;
    text-align: center;
}

#play {
    margin: auto;
    font-size: 100px;
}

#message {
    text-align: center;
}