@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    transition:all 0.12s ease-in-out;
}

:root {
    --pause-color: #277e273d;
    --tomato-color: #99000062;
    --glass-color: #302d2d28;
    --light-color: #ffe;
    --dark-color: #222;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: beige;
}

header{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

#main
{
    background-color: var(--glass-color);
    padding-top: 50px;
    padding-bottom: 50px;
}


#bottleContainer {
    width: 300px;
    height: 300px;
    margin: auto;

}

#bottle {
    border-radius: 75px;
    border: solid var(--light-color) 10px;
    background-color: var(--glass-color);

    transition: all 0.11s ease-in-out;
    width: 300px;
    height: 300px;
    position: absolute;
}

#bottle:hover {
    transition: all 0.15s ease-in-out;
    width: 280px;
    height: 280px;
    margin: 10px;
}

.sauce {
    position: absolute;
    width: 94%;
    height: 94%;
    bottom: 0px;
    margin: 3%;
    border-radius: 60px;
    background-color: var(--tomato-color);
    z-index: -100;;
}


#timer {
    height: 28%;
    padding-top: 10px;
    font-size: 50px;
    text-align: center;
}

#play {
    height: 42%;
    width: 100%;
    text-align: center;
    font-size: 110px;
}

#message {
    height: 30%;
    padding-top: 15px;
    text-align: center;
    font-size: 25px;
}

#settings {
    background-color: var(--glass-color);
    padding: 10px;
}

.timeSelection {
    text-align: center;
}

.timeSelection .slider {
    -webkit-appearance: none;
    margin: 5px;
    background-color: var(--light-color);
    border-radius: 15px;
    height: 18px;
    width: 150px;
}

.timeSelection label {
    position: absolute;
    margin-top : 5px;
}


.text {
    color: var(--light-color);
}

.shadow {
    text-shadow: 2px 2px var(--dark-color);
}